<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/style.css')}}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<body>
        <ul class="ul border-info navbar-fixed-top" style="z-index: 1">
            {% if not current_user.is_authenticated %}
            <li class="li" style="float:right"><a class="a" href="/signup">sign_up</a></li>
            <li class="li" style="float:right"><a class="a" href="/login">login</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="li" style="float:right"><a class="a" href="/list/mess">Сообщения</a></li>
            <li class="li" style="float:right"><a class="a" href="/profile">Профиль</a></li>
            <li class="li" style="float:right"><a class="a" href="{{ url_for('logout') }}">logout</a></li>
            <li class="li" style="float:right"><a class="a" href="/create">Создать услугу</a></li>
            {% endif %}
            <li class="li" style="float:right"><a class="a" href="/">Главнвя</a></li>
            <li class="li" style="float:left"><a class="a" href="/">Fin</a></li>
            <form class="li a form-inline pt-3 mt-6 mt-md-6 justify-content-center" action="{{url_for('result')}}" method="post">
                <input class="form-control mr-sm-2 justify-content-center" type="text" id="search" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-3 my-sm-0" type="submit">Search</button>
            </form>
          </ul>
        {% block body %}{% endblock %}
        </body>
</html>
