{% extends 'base.html' %}
{% block title %}
<title>Добавление товара</title>
{% endblock %}
{% block body %}
        <div class="row" style="padding-top: 100px; padding-bottom: 30px;">
            {% for item in array_us %}
                <div class="col-md-6 col-xl-3 mb-3 mb-md-4">
                    <div class="card border border-info rounded-0">
                        <div class="card-header">
                            <h5 class="p text-center card-text">{{ item[2] }}</h5>
                       </div>
                        <div class="thumbnail">
                                <div class="overlay">

                            <div class="mdb-lightbox no-margin">
                                <figure class="col-md-auto">
                                    <a href="{{ url_for('static', filename=item[4]) }}" data-size="1600x1067">
                                    <img class="card-img-top img-center center-block" src="{{ url_for('static', filename=item[4]) }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen id="video">
                                    </a>
                            </figure>
                        </div>
                                </div>
                        </div>
                      <div class="modal-footer">
                          <a href='/profile/{{ item[5] }}/'>
                          <h5> Перейти к автору</h5>
                          </a>
                          <a href="{{ '/view/%s'%item[0]|urlencode }}">
                          <h5> Перейти к услуге</h5>
                          </a>
                      </div>
                        <div class="modal-footer">
                          <a href="/view/{{item[0]}}/post/#mess">
                          <h5> Отзывы </h5>
                          </a>
                      </div>
                    </div>
                </div>
            {% endfor %}
          </div>
{% endblock %}

